.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: var(--font-lufga);
  font-size: 13px;
}
.links {
  display: flex;
  gap: 16px;
}
.links a {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    gap: 24px;
  }
}
