.container {
  display: grid;
  gap: 48px;
  flex: 1;
  grid-template-areas:
    "headline image"
    "contentBox image"
    "ctaBlock image";
}
.contentBox {
  padding: 16px 32px;
  font-family: var(--font-lufga);
  color: #fff;
  border: 1px solid var(--tertiary);
  border-radius: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 22px;
  line-height: 26px;
  grid-area: contentBox;
}
.contentBox p:first-of-type,
.contentBox p:last-of-type {
  font-family: var(--font-lufga-bold);
}
.headline {
  grid-area: headline;
  max-width: 493px;
}
.innerHeadline {
  width: 100%;
  height: auto;
}
.image {
  grid-area: image;
  max-width: 573px;
}
.innerImage {
  width: 100%;
  min-width: 450px;
  height: auto;
}

.ctaBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-area: ctaBlock;
}
.ctaBlock p {
  font-family: var(--font-lufga-bold);
  color: #fff;
  font-size: 36px;
  line-height: 40px;
}
.ctaBlock span {
  color: var(--primary);
}
.buttonContainer {
  display: flex;
  gap: 32px;
}
.knowMore {
  display: flex;
  gap: 48px;
  margin-top: 40px;
}
.knowMoreText {
  font-family: var(--font-lufga);
  color: #fff;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.knowMoreText strong {
  font-family: var(--font-lufga-bold);
}
.knowMoreQuote {
  font-family: var(--font-lufga-bold);
  color: var(--primary);
  font-size: 48px;
  line-height: 52px;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "image"
      "headline"
      "contentBox"
      "ctaBlock";
  }
  .headline {
    margin-top: -180px;
    z-index: 1;
  }
  .innerImage,
  .innerHeadline {
    min-width: auto;
    width: 100%;
    max-width: none;
  }
  .contentBox {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .ctaBlock p {
    font-size: 24px;
    line-height: 24px;
  }
  .knowMore {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .knowMoreText {
    font-size: 20px;
    line-height: 24px;
  }
  .knowMoreQuote {
    font-size: 24px;
    line-height: 28px;
  }
}
