.container {
  background-color: var(--secondary);
  min-height: 100vh;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 48px 24px;
}
.quote {
  font-family: var(--font-lufga);
  color: #fff;
  font-size: 24px;
  padding: 24px 52px;
  background-color: #ffffff6e;
  border-radius: 16px;
  border: 1px solid var(--tertiary);
  margin: 40px 0;
}
.quote strong {
  font-family: var(--font-lufga-bold);
}
