.button {
  padding: 24px 48px;
  border-radius: 16px;
  font-family: var(--font-work-sans);
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.primary {
  background-color: var(--primary);
  color: #333;
}

.secondary {
  border: 1px solid #fff;
  color: #fff;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
